# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
.idea
*.iml
out
gen

# Project specific
work
/janus
/janus.exe
/testdata/deployment/*.zip
/testdata/deployment/*/*.zip
/janus.tgz
/janus-distrib.zip
/pkg/janus
/.vscode
**/debug.test
**/debug
build/consul
/doc/_build/*
/dist

# Generated sources
/tosca/assets.go
