# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
.idea
*.iml
out
gen

# Project specific
work
/janus
/testdata/deployment/*.zip
/testdata/deployment/*/*.zip
/janus.tgz
/pkg/janus
