# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
.idea
*.iml
out
gen

# Project specific
work
/yorc
/yorc.exe
/testdata/deployment/*.zip
/testdata/deployment/*/*.zip
/yorc.zip
/yorc*.tgz
/yorc-distrib.zip
/pkg/yorc
/.vscode
**/debug.test
**/debug
build/consul
build/*.zip
/doc/_build/*
/doc/.doctrees
/dist
/plugin/testdata/plugin-sample/plugin-sample
build/coverprofiles/*

# Terraform infra
/testdata/infra/yorc
/testdata/infra/openstack/terraform.tfstate*

# Generated sources
/tosca/assets.go
