#!/usr/bin/env bash

maintenance_mode=
if [[ "$1" == "on" ]] ; then
  maintenance_mode="-enable"
elif [[ "$1" == "off" ]] ; then
  maintenance_mode="-disable"
else
  echo "Unexpected maintenance switch '$1', expecting 'on' or 'off'"
  exit 1 
fi

{{ABS_INSTALL_DIR}}/consul maint ${maintenance_mode}

