resources:
  - resourceType: "yorc.nodes.google.Address"
    resourceName: "address"
    archiveName: yorc-google-types
    id: "yorc.bootstrap.google.Address"
    properties: {{formatAsYAML .Address 8}}
  - resourceType: "yorc.nodes.google.Compute"
    resourceName: "Compute"
    archiveName: yorc-google-types
    id: "yorc.bootstrap.google.Compute"
    properties: {{formatAsYAML .Compute 8}}
    capabilities:
      endpoint:
        properties:
          credentials: {{formatOnDemandResourceCredsAsYAML .Credentials 12}}
