resources:
  - resourceType: "yorc.nodes.hostspool.Compute"
    resourceName: "Compute"
    archiveName: yorc-hostspool-types
    id: "yorc.bootstrap.hostspool.Compute"
    properties: {{formatAsYAML .Compute 8}}
