resources:
  - resourceType: "yorc.nodes.aws.PublicNetwork"
    resourceName: "public-network"
    archiveName: yorc-aws-types
    archiveVersion: 1.0.0
    id: "yorc.nodes.aws.PublicNetwork:1.0.0"
    properties: {{formatAsYAML .Address 8}}
  - resourceType: "yorc.nodes.aws.Compute"
    resourceName: "Compute"
    archiveName: yorc-aws-types
    archiveVersion: 1.0.0
    id: "yorc.nodes.aws.Compute:1.0.0"
    properties: {{formatAsYAML .Compute 8}}
    capabilities:
      endpoint:
        properties:
          credentials: {{formatOnDemandResourceCredsAsYAML .Credentials 12}}
