resources:
  - resourceType: "yorc.nodes.hostspool.Compute"
    resourceName: "Compute"
    archiveName: yorc-hostspool-types
    archiveVersion: 1.0.0
    id: "yorc.nodes.hostspool.Compute:1.0.0"
    properties: {{formatAsYAML .Compute 8}}
