resources:
  - resourceType: "yorc.nodes.openstack.PublicNetwork"
    resourceName: "public-starlings"
    archiveName: yorc-openstack-types
    id: "yorc.nodes.openstack.PublicNetwork"
    properties: {{formatAsYAML .Address 8}}
  - resourceType: "yorc.nodes.openstack.Compute"
    resourceName: "Compute"
    archiveName: yorc-openstack-types
    id: "yorc.bootstrap.openstack.Compute"
    properties: {{formatAsYAML .Compute 8}}
    capabilities:
      endpoint:
        properties:
          credentials: {{formatOnDemandResourceCredsAsYAML .Credentials 12}}
