resources:
  - resourceType: "yorc.nodes.aws.PublicNetwork"
    resourceName: "public-network"
    archiveName: yorc-aws-types
    id: "yorc.bootstrap.aws.PublicNetwork"
    properties: {{formatAsYAML .Address 8}}
  - resourceType: "yorc.nodes.aws.Compute"
    resourceName: "Compute"
    archiveName: yorc-aws-types
    id: "yorc.bootstrap.aws.Compute"
    properties: {{formatAsYAML .Compute 8}}
    capabilities:
      endpoint:
        properties:
          credentials: {{formatOnDemandResourceCredsAsYAML .Credentials 12}}
