{{ define "Infrastructure" }}
      type: org.ystia.yorc.infrastructure.AWSConfig
      properties: {{formatAsYAML .Infrastructures.aws 8}}
      requirements:
        - infraHostedOnYorcServer:
            type_requirement: host
            node: YorcServer
            capability: org.ystia.yorc.pub.capabilities.YorcConfigContainer
            relationship: org.ystia.yorc.linux.ansible.relationships.YorcConfigAWSHostedOnYorc
{{ end }}
