{{ define "Infrastructure" }}
      type: org.ystia.yorc.infrastructure.OpenStackConfig
      properties: {{formatAsYAML .Infrastructures.openstack 8}}
      requirements:
        - infraHostedOnYorcServer:
            type_requirement: host
            node: YorcServer
            capability: org.ystia.yorc.pub.capabilities.YorcConfigContainer
            relationship: org.ystia.yorc.linux.ansible.relationships.YorcConfigOpenstackHostedOnYorc
        {{if not .Insecure}}
        - infraSecretsHostedOnVault:
            type_requirement: host
            node: VaultServer
            capability: org.alien4cloud.vault.pub.capabilities.VaultServer
            relationship: org.ystia.yorc.linux.ansible.relationships.OpenstackSecretsOnVault
        {{end}}
{{ end }}
