{{ define "Infrastructure" }}
      type: org.ystia.yorc.infrastructure.GoogleConfig
      properties: {{formatAsYAML .Infrastructures.google 8}}
      requirements:
        - infraHostedOnYorcServer:
            type_requirement: host
            node: YorcServer
            capability: org.ystia.yorc.pub.capabilities.YorcConfigContainer
            relationship: org.ystia.yorc.linux.ansible.relationships.YorcConfigGoogleHostedOnYorc
{{ end }}
